<div class="content">
    <div class="header">
        <div class="header-title">
            <p>Awesome Kanban Board</p>
        </div>
        <div class="user-menu">
            <div class="user-avatar">
                <img src="../../img/user-avatar.svg" alt="User Avatar">
                <span class="arrow">&#9660;</span>
            </div>
            <div class="menu-list" id="userMenu">
                <a href="#">Мой аккаунт</a>
                <a href="#">Мои задачи</a>
                <a id="adminButton" href="#">Администрирование</a>
                <a id="logoutButton" href="#">Выход</a>
            </div>
        </div>
    </div>
    <div class="admin-panel_conainer">
        <div class="admin-panel_header" id="admin-panel">
            <h2>Список пользователей</h2>
        </div>
    
        <div class="admin-panel_users">
            <ul id="userList" class="users_items"></ul>
        </div>
        <div class="new-users_form" id="newUserForm">
            <h3 class="form_title">Добавить нового пользователя</h3>
            <div class="form_inputs">
                <input class="form_input" type="text" id="newUserName" placeholder="Логин">
                <input class="form_input" type="email" id="newUserPass" placeholder="Пароль">
            </div>
            <button class="form_button" id="addNewUserBtn">Добавить пользователя</button>
        </div>
    </div>
</div>