<div class="container">
    <div class="header">
        <div class="header-title">
            <p>Awesome Kanban Board</p>
        </div>
        <div class="user-menu">
            <div class="user-avatar" onclick="toggleMenu()">
                <img src="../../img/user-avatar.svg" alt="User Avatar">
                <span class="arrow">&#9660;</span>
            </div>
            <div class="menu-list" id="userMenu">
                <a href="#">My account</a>
                <a href="#">My tasks</a>
                <a href="#">Log out</a>
            </div>
        </div>
    </div>
    <div class="kanban-board">
        <div class="kanban-block" id="backlog">
            <p>Backlog</p>
            <div class="task-container" id="backlog-task-container"></div>
            <div id="new-task"></div>
            <button class="button add-task" id="add-task-backlog">+ Add card</button>
        </div>
        <div class="kanban-block" id="ready">
            <p>Ready</p>
            <div class="task-container" id="ready-task-container">
                <div class="custom-select" id="select-block">
                    <select class="select-items" id="select"></select>
                    <div class="select-arrow"></div>
                </div>
            </div>
            <button class="button add-task" id="add-task-ready">+ Add card</button>
        </div>
        <div class="kanban-block" id="inProgress">
            <p>In progress</p>
            <div class="task-container" id="inProgress-task-container"></div>
            <button class="button add-task" id="add-task-inProgress">+ Add card</button>
        </div>
        <div class="kanban-block" id="finished">
            <p>Finished</p>
            <div class="task-container" id="finished-task-container"></div>
            <button class="button add-task" id="add-task-finished">+ Add card</button>
        </div>
    </div>
    <div class="footer">
        <div class="footer-tasks">
            <p>Active tasks: <span id="active-tasks">&lt0&gt</span></p>
            <p>Finished tasks: <span id="finished-tasks">&lt0&gt</span></p>
        </div>
        <div class="user-tasks">
            <p>Kanban board by<span id="user-name">&ltNAME&gt, </span><span id="user-age">&ltYEAR&gt</span></p>
        </div>
    </div>
</div>